html, body{
	margin:0;
	padding:0;
	height:100%;
}

body{
	color: #333;
	margin: 0;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	min-height: 100%;
}

#login_container{
	width: 320px;
	margin: auto;
	padding: 115px 0 0 0;
}

#login_container form{
	margin-left: 8px;
	margin-bottom: 10px;
	padding: 26px 24px 46px;
	font-weight: normal;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	border-radius: 3px;
}

#login_container label {
	color: #777;
	font-size: 14px;
}

.error input{
	background: rgba(255, 0, 0, 0.1) !important;
	border: 1px solid rgba(255, 0, 0, 0.2) !important;
	margin-bottom: 4px !important;
}

.error-message{
	color: rgba(255, 0, 0, 0.5);
	margin-bottom: 8px;
}

#login_container input[type=text], #login_container input[type=password]{
	color: #555;
	font-weight: 200;
	font-size: 24px;
	line-height: 1;
	width: 100%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

#login_container input[type=submit]{
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
	background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
	background-color: #21759b;
	border: 1px solid #21759b;
	border-bottom-color: #1e6a8d;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	border-radius: 3px;
	float: right;
	font-size: 12px;
	box-sizing: border-box;
}

#login_container input[type=submit]:hover{
	background-image: -webkit-linear-gradient(top, #34baf9 0%, #2093c8 100%);
	border: 1px solid #2093c8;
}

#login_container a{
	margin-top: 20px;
	padding-left: 32px;
}

#login_container .logo{
	display: block;
	background: url("../img/cookitLogo.png") no-repeat;
	height: 80px;
	margin-left: 30px;
}

a{
	color: #21759b;
}

.notification{
	padding: 8px 0 8px 6px;
	margin-bottom: 5px;
	margin-left: 8px;
	border-radius: 3px;
}

.notification.error{
	background-image: -webkit-linear-gradient(top, #ff7979 0%, #e54242 100%);
	border: 1px solid #e54242;
	color: white;
}

.notification.success{
	background-image: -webkit-linear-gradient(top, #81c973 0%, #3ab53e 100%);
	border: 1px solid #3ab53e;
	color: white;
}

#admin_header{
	height: 28px;
	width: 100%;
	background: #464646;
	position: fixed;
	top: 0;
	left: 0;
	background: #46463D;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#373737),color-stop(18%,#464646));
	background-image: -webkit-linear-gradient(bottom,#373737 0,#464646 5px);
	background-image: -moz-linear-gradient(bottom,#373737 0,#464646 5px);
	background-image: -o-linear-gradient(bottom,#373737 0,#464646 5px);
	background-image: linear-gradient(to top,#373737 0,#464646 5px);
}

#admin-log-content{
	margin-left: 250px;
}

#side_bar{
	width: 250px;
	height: 100%;
	margin-left: -5px;
	box-shadow: inset -1px 2px 15px black;
	background-color: #dfdfdf;
	border: 1px solid #bbb;
	float: left;
}

#bar-menu{
	list-style: none;
}

#bar-margin-top{
	height: 200px;
}

.menu-element{
	margin-left: -35px;
	padding-left: 30px;
	line-height: 40px;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #c3c3c3;
	background: #eeeeee;
	color: #777;
	font-size: 14px;
}

.menu-element:hover{
	background: #777;
	color: #eeeeee;
}

.menu-element:hover #triangle-hover{
	display: block;
}

#triangle-selected{
	left: 246px;
	position: absolute;
	width:0px;
	height:0px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 25px solid #eeeeee;
	z-index: 10;
}

#triangle-selected-shadow{
	left: 246px;
	position: absolute;
	width:0px;
	height:0px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 25px solid #c3c3c3;
	z-index: 9;
}

#triangle-hover{
	left: 246px;
	position: absolute;
	width:0px;
	height:0px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 25px solid #777;
	z-index: 11;
	display: none;
}